<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
        <title>KeyVox Python example</title>
    </head>
    <body class="bg-green-50">
        <header class="bg-white">
            <div class="container mx-auto py-3 px-56">
                <nav class="flex justify-between">
                    <a href="/">
                        <img src="/logo.png" alt="Logo" style="width: 60px;">
                    </a>
                    <div class="flex items-center text-2xl">
                        Rest of your awesome header
                    </div>
                </nav>
            </div>
        </header>
        <div class="container mx-auto mt-8 px-56">
            <div class="grid grid-cols-3 gap-9">
                {% for article in articles.data %}
                    <div class="card bg-gray-50 rounded-lg shadow pb-3 rounded-xl">
                       <div class="card-body">
                           <div>
                                {% if article.background %}
                                    <a href="/{{ article.slug }}">
                                        <img src="{{ article.background }}" alt="article background" >
                                    </a>
                                {% endif %}
                           </div>

                            <div class="flex">
                                <a class="flex-1 px-3 py-1 text-sm" href="/infos/{{ article.slug }}">
                                    {{ article.created_at }}
                                </a>
                            </div>

                            <h2 class="text-2xl font-bold flex">
                                <a class="flex-1 px-3 py-2" href="/infos/{{ article.slug }}">
                                    {{ article.title }}
                                </a>
                            </h2>
                       </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </body>
</html>